<div class="row">
  <div class="col-md-6">
    <h3>A.M. <a href="https://data-lessons.github.io/library-data-intro/">Data Intro for Librarians</a></h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Sign in, coffee</td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://data-lessons.github.io/library-data-intro/02-jargon-busting/">Jargon Busting</a></td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://data-lessons.github.io/library-data-intro/03-foundations/">Foundations</a></td> </tr>
      <tr> <td>10:15</td>  <td>Break</td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://data-lessons.github.io/library-data-intro/04-regular-expressions/">Regular expressions</a></td> </tr>
      <tr> <td>11:15</td>  <td>Exercises</td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>P.M. <a href="https://data-lessons.github.io/library-shell/">Shell Lessons for Libraries</a></h3>
    <table class="table table-striped">
      <tr> <td>01:00</td>  <td><a href="https://data-lessons.github.io/library-shell/01-intro-shell/">What is the shell?</a></td> </tr>
      <tr> <td>02:30</td>  <td><a href="https://data-lessons.github.io/library-shell/02-counting-mining/">Counting and mining with the shell</a></td> </tr>
      <tr> <td>04:00</td>  <td>Break</td> </tr>
      <tr> <td>04:15</td>  <td><a href="https://data-lessons.github.io/library-shell/03-free-text/">Working with free text</a></td> </tr>
      <tr> <td>05:15</td>  <td>Wrap up, Plan UC Library Carpentry 2</td> </tr>
      <tr> <td>05:30</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
