<div class="row">
  <div class="col-md-6">
    <h3>A.M. <a href="https://data-lessons.github.io/library-data-intro/">Data Intro for Librarians</a></h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Sign in, coffee</td> </tr>
      <tr> <td>09:00</td>  <td>Jargon Busting</td> </tr>
      <tr> <td>09:15</td>  <td>Foundations</td> </tr>
      <tr> <td>10:15</td>  <td>Break</td> </tr>
      <tr> <td>10:30</td>  <td>Regular expressions</td> </tr>
      <tr> <td>11:15</td>  <td>Exercises</td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>P.M. <a href="https://data-lessons.github.io/library-shell/">Shell Lessons for Libraries</a></h3>
    <table class="table table-striped">
      <tr> <td>01:00</td>  <td>What is the shell</td> </tr>
      <tr> <td>02:30</td>  <td>Counting and mining with the shell</td> </tr>
      <tr> <td>04:00</td>  <td>Break</td> </tr>
      <tr> <td>04:15</td>  <td>Working with free text</td> </tr>
      <tr> <td>05:15</td>  <td>Wrap up, Plan UC Library Carpentry 2</td> </tr>
      <tr> <td>05:30</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
</div>
